@import "tailwindcss";


.solgan {
  animation: moveFromBottom 0.6s ease-out;
}


@keyframes moveFromBottom {
  from {
    transform: translateY(150px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}